{% extends 'master.html' %}
{% load bootstrap4 %}
{% load static %}

{%block cuerpo%}
    <img src="{% static 'Logo-256.png' %}" alt="My image">
    <p>Las mesas de ayuda de TI ofrecen diversos servicios de TI en una organización. 
    Por lo general, la mesa de ayuda sirve como el único punto de contacto para cualquier solicitud, 
    problema o asistencia que los usuarios finales necesitan para acceder a los servicios tecnológicos.
    En las organizaciones bien desarrolladas, la mesa de ayuda garantiza la asistencia y la resolución de 
    problemas de manera oportuna al definir y publicar sus niveles de servicio garantizados. 
    Al ofrecer niveles tan altos de servicio, las organizaciones pueden cumplir sus objetivos comerciales y 
    aumentar su influencia en el mercado.
    ¿Qué es el software de mesa de ayuda?
    Los equipos de TI suelen implementar software de mesa de ayuda para gestionar el ciclo de vida del 
    ticket de TI, automatizar tareas rutinarias y optimizar los procesos y flujos de trabajo, lo que 
    resulta directamente en una mayor productividad, menores costos, mejores niveles de servicio y 
    una mejor experiencia del cliente.
    </p>
{%endblock%}
